<form onsubmit="return validateForm()" action="/todos" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="flex gap-2 py-4">
    <div class="flex-auto">
      <input type="text" id="title" name="title" placeholder="What's next?" class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm" required>
    </div>
    <div class="flex-auto">
      <input type="date" id="dueDate" name="dueDate" class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4" required>
    </div>
    <div class="flex-none">
      <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2 ">Add</button>
    </div>
  </div>
</form>
