<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute('content')

    function updateTodo(id, completed) {
      fetch(`/todos/${id}`, {
        method: 'put',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          "_csrf": token,
          completed
        })
      })
      .then((res) => {
        if (res.ok){
          window.location.reload();
        }
      })
      .catch((err) => console.error(err))
    }

    function deleteTodo(id){
      fetch(`/todos/${id}`, {
        method: 'delete',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          "_csrf": token
        })
      })
      .then((res) => {
        if (res.ok) {
          window.location.reload()
        }
      })
      .catch ((err) => console.error(err)) 
    }

    function validateForm() {
      // Get the input values
      var title = document.getElementById('title').value;
      var date = document.getElementById('dueDate').value;
      
      // Check if any field is empty
      if (title === '' || date === '') {
        alert('Please fill in all the fields.');
        return false;
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>To-Do Manager</title>
</head>
<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">

<!-- Header section -->

      <%- include('header.ejs') %>
      
      <p class="py-2">Welcome to the To-Do manager</p>
      <p class="py-2">New here? <a class="text-green-600" href="/signup">Sign-up now</a></p>
      <p class="py-2">Already have an account? <a class="text-green-600" href="/login">Sign-in</a></p>

    </div>
  </div>
<!-- Footer section -->

  <%- include('footer.ejs') %>

</body>
</html>
